<!DOCTYPE html>
<html lang="en">
  <head style="margin-bottom:-300px;">
    <!--begin-static-app-name-->
    <title>clustermap</title>
    <!--end-static-app-name-->
    <!--app-name
    <title>{{{app-name}}}</title>
    
    -->
    <meta charset="utf-8">
    <!--if IEmeta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!--begin-static-app-name-->
    <meta name="description" content="clustermap">
    <!--end-static-app-name-->
    <!--app-name
    <meta name="description" content="{{{app-name}}}"/>
    
    -->
    <meta name="author" content="Trampoline Systems Ltd">
    <link type="text/css" rel="stylesheet" href="http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css">
    <link type="text/css" rel="stylesheet" href="css/app.css">
    <link type="text/css" rel="stylesheet" href="css/datepicker.css">
    <link type="text/css" rel="stylesheet" href="css/popupdatepicker.css">

    <script type="text/javascript" src="js/polyfills.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script><!--[if lte IE 7]>
    <script type="text/javascript">$(document).ready(function(){ $('html').addClass('ie7'); });</script><![endif]-->
    <!--[if IE 8]>
    <script type="text/javascript">$(document).ready(function(){ $('html').addClass('ie8'); });</script><![endif]-->
    <!--[if IE 9]>
    <script type="text/javascript">$(document).ready(function(){ $('html').addClass('ie9'); });</script><![endif]-->
    <!--[if IE 10]>
    <script type="text/javascript">$(document).ready(function(){ $('html').addClass('ie10'); });</script><![endif]-->
    <script type="text/javascript">
      $(document).ready(function(){
        if ($('html').hasClass('ie8')) {
          $('#browser-support').modal();
        }
      });
      
    </script>
    <script type="text/javascript" src="http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js"></script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/react/0.9.0/react.js"></script>
    <!--begin-static-app-config-->
    <script type="text/javascript">window.config={"api":{"prefix": ""}}</script>
    <!--end-static-app-config-->
    <!--app-config
    <script type="text/javascript">window.config={{{app-config}}}</script>
    
    -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      if (window.config.ua && window.config.ua.code) {
        ga('create', window.config.ua.code, 'auto');
        ga('send', 'pageview');
      }
      
    </script>
  </head>
  <body>
    <div class="grd grdh">
      <div class="grdr">
        <div class="grdc">
          <header class="page-header">
            <div id="reset-all-component">
              <h1 class="logo">EC</h1>
            </div>
            <ul class="nav-links">
              <li id="new-company-edit" class="link-add"><a href="#">Add company</a></li>
              <li class="link-intro"><a href="#">Introduction</a></li>
              <li class="link-login">
                <!-- a(href="#") Login-->
              </li>
              <li class="link-register">
                <!-- a(href="#") Register-->
              </li>
            </ul>
            <div id="company-search-component" class="company-search">
              <input type="text" placeholder="Company Search">
            </div>
          </header>
        </div>
      </div>
      <div class="grdr">
        <div id="intro" class="grdc intro">
          <h2>Mapping Europe&#8217;s startup ecosystem</h2>
          <p>This platform is being developed as part of&nbsp;<a href="http://ec.europa.eu/digital-agenda/about-startup-europe" target="_blank">Startup Europe</a>&nbsp;to provide a detailed and consistent analysis of the startup ecosystem across Europe.
            The project is integrating data from national company registries with Angel List, Crunchbase and Seed DB. 
            Further data sources will be added during 2015 and 2016.
          </p>
        </div>
      </div>
      <div class="grdr">
        <div class="grdc">
          <div class="view view-main">
            <div id="filter-description-component">
              <div class="filter-settings">
                <div class="filter-buttons">
                  <button type="button" id="filter-toggle" class="btn btn-primary">Open Filter</button>
                  <button type="button" id="filter-reset" class="btn btn-default">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grdr">
        <div class="grdc">
          <div class="view view-company hide">
            <div class="company-header">
              <h3 id="company-name-component">Company Name</h3>
              <div class="company-buttons"><span id="company-edit">
                  <button type="button" class="btn btn-primary">Edit</button></span><span id="company-close">
                  <button type="button" class="btn btn-primary">Close</button></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grdr">
        <div class="grdc">
          <div class="view view-edit-company hide">
            <div class="company-header">
              <h3 id="edit-company-name-component">Company Name</h3>
              <div class="company-buttons">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grdr">
        <div class="grdc grdh">
          <div id="data-container" class="grd">
            <div class="grdr">
              <div id="filters" class="grdc grdh filters view view-main">
                <div class="grd">
                  <div class="grdr">
                    <div class="grdc">
                      <header class="filters-header">Filters</header>
                    </div>
                  </div>
                  <div class="grdr">
                    <div class="grdc grdh">
                      <div id="filter-col" class="grdp grdh">
                        <div id="filter-component" class="grdh grdw grda"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grdc grdh">
                <div class="grd">
                  <div class="grdr view view-main">
                    <div class="grdc">
                      <ul id="section-nav" class="section-nav nav">
                        <li><a href="#headlines">Headlines</a></li>
                        <li><a href="#map">Map</a></li>
                        <li><a href="#charts">Charts</a></li>
                        <li><a href="#index">Index</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="grdr">
                    <div class="grdc grdh grdw">
                      <div id="data-col" data-spy="scroll" data-target="#section-nav" class="grdp grdh">
                        <div class="grdh grdw grda">
                          <div id="data-details" class="main-content">
                            <section id="headlines" class="section section-headlines view view-main">
                              <h3>Headlines</h3>
                              <div id="headline-stats-component"></div>
                            </section>
                            <section id="map" class="section section-map view view-main">
                              <header>
                                <h3>Map</h3>
                                <!-- p Intro text...-->
                              </header>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <div class="heat-map-key">
                                    <div id="color-scale-component">
                                    </div>
                                    <p>Individual company locations appear when fewer than 1000 on the map</p>
                                  </div>
                                  <div class="panel-settings">
                                    <p id="reset-map-view-button-component"></p>
                                    <div>
                                      <label class="checkbox-inline"> <span id="display-minichart-funding-component" class="minichart-key metric-1"></span>Funding</label>
                                      <label class="checkbox-inline"> <span id="display-minichart-turnover-component" class="minichart-key metric-2"></span>Revenue</label>
                                      <label class="checkbox-inline"> <span id="display-minichart-employment-component" class="minichart-key metric-3"></span>Employment</label>
                                      <label class="checkbox-inline"> <span id="display-principal-name-component"></span>Principal company name</label>
                                    </div>
                                    <div><span>Select to show details under each company location marker</span></div>
                                    <div>
                                    </div>
                                  </div>
                                  <div id="advanced-options" class="panel-options collapse">
                                    
                                  </div>
                                </div>
                                <div class="panel-body">
                                  <div id="map-component"></div>
                                </div>
                              </div>
                            </section>
                            <section id="charts" class="section section-charts view view-main">
                              <header>
                                <h3>Charts</h3>
                                <!-- p Intro text...-->
                              </header>
                              <div class="panel">
                                <div class="panel-heading">
                                  <h4>Compare Hubs</h4>
                                  <div id="city-barchart-var-select-component"></div>
                                </div>
                                <div class="panel-body">
                                  <div id="city-barchart-component"></div>
                                </div>
                              </div>
                              <div class="panel">
                                <div class="panel-heading">
                                  <h4>Investment</h4>
                                  <div><span id="investment-timeline-var-select-component" class="custom-select"></span></div>
                                </div>
                                <div class="panel-body">
                                  <div id="investment-timeline-component" class="chart-container"></div>
                                </div>
                              </div>
                              <div class="panel-grid-container">
                                <div class="panel-grid">
                                  <div class="panel-row">
                                    <div class="panel">
                                      <div class="panel-heading">
                                        <h4>Company size - revenue</h4>
                                      </div>
                                      <div class="panel-body">
                                        <div id="revenue-bands-chart-component" class="chart-container"></div>
                                      </div>
                                    </div>
                                    <div class="panel">
                                      <div class="panel-heading">
                                        <h4>Company size - employees</h4>
                                      </div>
                                      <div class="panel-body">
                                        <div id="employment-bands-chart-component" class="chart-container"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <section id="index" class="section section-index view view-main">
                              <header>
                                <h3>Index</h3>
                                <!-- p Intro text...-->
                              </header>
                              <div id="table-component"> 
                              </div>
                            </section>
                            <section id="credits" class="section section-credits view view-main">
                              <header>
                                <h3>Supporters</h3>
                                <h4>Thanks to the following organisations</h4><img src="/img/supporter_logos.png" class="center">
                              </header>
                            </section>
                            <section id="edit-company" class="section section-company-info view view-edit-company hide">
                              <div id="edit-company-component"></div>
                            </section>
                            <section id="company-info" class="section section-company-info view view-company hide">
                              <div id="company-info-component">
                                <div class="panel-grid-container">
                                  <div class="panel-grid">
                                    <div class="panel-row">
                                      <div class="panel">
                                        <div class="panel-body">
                                          <div class="company-logo"></div>
                                          <div class="company-details">
                                            <ul>
                                              <li>
                                                <h4>Description</h4>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum distinctio aliquid voluptatum temporibus suscipit at, quae ea facilis nobis! Facilis quia, repellendus sunt numquam, aut distinctio placeat commodi quisquam eius.</p>
                                              </li>
                                              <li>
                                                <h4>Sector</h4>
                                                <p><a href="#">Other service activities</a></p>
                                                <p>SIC 1234 5678 - Other Business Activities</p>
                                                <p>SIC 1234 5678 - Other Business Activities</p>
                                              </li>
                                              <li>
                                                <h4>Registration Number</h4>
                                                <p>0123456789</p>
                                              </li>
                                              <li>
                                                <h4>Website</h4>
                                                <p><a href="#">abcdefghijk.com</a></p>
                                              </li>
                                              <li>
                                                <p><a href="#"><i class="icon-twitter"></i></a>&nbsp;<a href="#"><i class="icon-linkedin"></i></a>&nbsp;<a href="#"><i class="icon-crunch"></i></a>&nbsp;<a href="#"><i class="icon-angel"></i></a></p>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel">
                                        <div class="panel-body">
                                          <div class="company-address">
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <address>
                                                  <h4>Registered Address</h4>
                                                  <div>110 Fulbourn Rd</div>
                                                  <div>Cambridge</div>
                                                  <div>Cambridgeshire</div>
                                                  <div>CB1 9NJ</div>
                                                  <div>UK</div>
                                                </address>
                                              </div>
                                              <div class="col-sm-6">
                                                <address>
                                                  <h4>Second Address</h4>
                                                  <div>110 Fulbourn Rd</div>
                                                  <div>Cambridge</div>
                                                  <div>Cambridgeshire</div>
                                                  <div>CB1 9NJ</div>
                                                  <div>UK</div>
                                                </address>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="company-map">
                                            <div class="map-container"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel-row">
                                    <div class="panel">
                                      <div class="panel-body">
                                        <div class="chart-heading">
                                          <h4 class="stat-title">Revenue (2013)</h4>
                                          <div class="stat-amount">43.3M<small>GBP</small></div>
                                          <div class="stat-change"> <i class="icon-positive"></i><span>15.6%</span></div>
                                        </div>
                                        <div class="chart-container-lg"></div>
                                      </div>
                                    </div>
                                    <div class="panel">
                                      <div class="panel-body">
                                        <div class="chart-heading">
                                          <h4 class="stat-title">Employees (2013)</h4>
                                          <div class="stat-amount">43,367</div>
                                          <div class="stat-change"><i class="icon-positive"></i><span>15.6%</span></div>
                                        </div>
                                        <div class="chart-container-lg"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel-row">
                                    <div class="panel">
                                      <div class="panel-body">
                                        <h3>Directors</h3>
                                        <div class="table-responsive">
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Name</th>
                                                <th>Start Date</th>
                                                <th>ZZZ</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Mr Joe Blogs</td>
                                                <td>19<sup>th</sup> May 1998</td>
                                                <td>--</td>
                                              </tr>
                                              <tr>
                                                <td>Ms Mary Smith</td>
                                                <td>3<sup>rd</sup> Jan 1999</td>
                                                <td>--</td>
                                              </tr>
                                              <tr>
                                                <td>Mr Alan Robertson</td>
                                                <td>21<sup>st</sup> Aug 2001</td>
                                                <td>--</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                          <footer class="page-footer">
                            <div>Research and analysis by&nbsp;<a href="https://www.grantthornton.com/" target="_blank">Grant Thornton</a>&nbsp;- interactive platform by &nbsp;<a href="http://www.trampolinesystems.com/" target="_blank">Trampoline Systems</a></div>
                            <div class="report-issue"><a href="mailto:clustermap-issues@trampolinesystems.com?subject=Startup Hubs EU issue report">Report issue</a></div>
                          </footer>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--begin-static-base-js-->
    <script type="text/javascript" src="cljs/goog/base.js"></script>
    <!--end-static-base-js-->
    <!--base-js
    {{{base-js}}}
    
    -->
    <!--begin-static-dynamic-js--><script type="text/javascript" src="clustermap.js"></script><script type="text/javascript">goog.require("clustermap.core");</script>
    <!--end-static-dynamic-js-->
    <!--dynamic-js
    <script type="text/javascript" src="clustermap.js"></script><script type="text/javascript">goog.require("clustermap.core");</script>
    
    -->
    <!--begin-static-repl-js-->
    <!--end-static-repl-js-->
    <!--repl-js
    <script type="text/javascript">{{{repl-js}}}</script>
    
    
    -->
    <script type="text/javascript">
      $(function(){
      
        $(window).scroll(function() {
          var $intro = $('#intro');
      
          if ($intro.is(':visible')) {
            var $win = $(this),
                height = parseInt($intro.outerHeight(),10);
      
            if ($win.scrollTop() > height) {
      
              $('body').addClass('page-condensed');
              
            }
          }
        });
      
        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh');
        });
      
        $('#data-col').scrollspy({ target: '#section-nav' })
      
      
        $('#section-nav').on('click','a', function(){
          if (!$('body').hasClass('page-condensed')) {
            $('body').addClass('page-condensed');
          }
      
          var $target = $(this.hash);
          $('#data-col').animate({
            scrollTop: $target.parent().scrollTop() + $target.offset().top - $target.parent().offset().top
          }, 1000);
          return false;
        });
      
      
        $('.link-intro').on('click', function(e){
          e.preventDefault();
      
          $('body').removeClass('page-condensed');
      
          $('#section-nav').find('li.active').removeClass('active').end().find('li:first').addClass('active');
      
        });
      
      
        $(document).on('click', '#filter-toggle', function(){
          $('#data-container').toggleClass('show-filters');
        });
      
        $(document).on('click', '.filter-header', function(){
          var $t = $(this), $o = $t.next('.filter-body'), $p = $t.parent('.filter-group'), active = $p.hasClass('active') ? true : false;
      
          if (active) {
            $o.slideUp(function(){
              $p.removeClass('active');
            });
          }
          else {
            $o.slideDown(function(){
              $p.addClass('active');
            });
          }
        });
      
      });
    </script>
  </body>
</html>